div(flex).adminSection
  form(name='form', ng-submit="$ctrl.update(form)", novalidate)
    md-toolbar
      div(layout="row").md-toolbar-tools
        span.close
          div(ng-click="$ctrl.cancel()")
        span(flex)
        span(flex)
          h2 {{(!$ctrl.newProject) ? 'Edit Project' : 'Add Project'}}
        span(flex)
        span(flex=5)
    md-dialog-content(layout="column").content

      p(ng-if="!$ctrl.newProject") Modify a project
      p(ng-if="$ctrl.newProject") Create a new project

      div(flex, layout="row")
        md-input-container(flex)
          input(ng-model="$ctrl.editProject.name", name="Project", placeholder="Project Name", ng-change="$ctrl.isUniqueProject($ctrl.editProject.name)", required)
          div(ng-messages="form.Project.$error")
            div(ng-message="required") A project name is required
            div(ng-message="unique") Project name is already taken

      div(ng-if="!$ctrl.newProject")
        h3(style="margin: 0;") Project Members

        div(flex, layout="column")
          div(flex, layout="row")
            md-autocomplete(
            md-input-name="Member",
            md-selected-item="$ctrl.member",
            md-search-text="$ctrl.searchQuery",
            md-items="user in $ctrl.searchUsers($ctrl.searchQuery)",
            md-item-text="$ctrl.user.firstName + ' ' + $ctrl.user.lastName",
            md-floating-label="Add User",
            md-autofocus=true,
            md-autoselect=true,
            md-require-match,
            md-dropdown-position="bottom",
            flex
            )
              md-item-template {{$ctrl.user.firstName}} {{$ctrl.user.lastName}}

            div(layout="column", layout-align="center end", style="padding-left: 20px;")
              div(ng-click="$ctrl.addUser()").buttonWrap
                md-button Add Member
          div(flex, layout="column")
            md-content(flex, layout="column").diagTable
              div(flex, layout="row").header
                div(flex=30) Name
                div(flex=30) Email
                div(flex=30) Username
                div
              div(ng-show="$ctrl.editProject.users.length === 0").text-center.margin-top-10.margin-bottom-10 No Members
              div(ng-repeat="u in $ctrl.editProject.users", layout="row").row
                div(flex=40).c {{u.firstName}} {{u.lastName}}
                div(flex=40).c {{u.email}}
                div(flex=40).c {{u.username}}
                div
                  div(ng-click="$ctrl.removeUser($event, u)", ng-if="!u.fullAccess").buttonWrap
                    md-button Remove
                  div(ng-if="u.fullAccess")
                    span Full&nbsp;Access&nbsp;

      br
      div(ng-if="!$ctrl.newProject")
        h3(style="margin: 0;") Project Samples

        div(flex, layout="column")
          div(flex, layout="row")
            md-autocomplete(
            md-input-name="Sample",
            md-selected-item="$ctrl.report",
            md-search-text="$ctrl.searchReport",
            md-items="report in $ctrl.searchReports($ctrl.searchReport)",
            md-item-text="$ctrl.report.patientId",
            md-floating-label="Add Sample",
            md-autoselect=true,
            md-require-match,
            md-dropdown-position="bottom",
            flex
            )
              md-item-template {{$ctrl.report.patientId}}

            div(layout="column", layout-align="center end", style="padding-left: 20px;")
              div(ng-click="$ctrl.addReport()").buttonWrap
                md-button Add Sample
          div(flex, layout="column")
            md-content(flex, layout="column").diagTable
              div(flex, layout="row").header
                div(flex=90) Patient ID
                div
              div(ng-if="$ctrl.editProject.reports.length === 0").text-center.margin-top-10.margin-bottom-10 No Samples
              div(ng-repeat="r in $ctrl.editProject.reports", layout="row").row
                div(flex=90).c {{r.patientId}}
                div
                  div(ng-click="$ctrl.removeReport(r)").buttonWrap
                    md-button Remove



    md-dialog-actions(layout="row")
      .buttonWrap
        md-button(ng-click="$ctrl.cancel()") Cancel
      div(ng-if="!$ctrl.newProject").buttonWrap.delete
        md-button(ng-click="$ctrl.projectDelete($ctrl.editProject)") Remove
      span(flex)
      .buttonWrap
        md-button(type="submit") {{(!$ctrl.newProject) ? 'Save Changes' : 'Add Project'}}