probe-summary(
  report="$ctrl.report",
  test-information="$ctrl.testInformation",
  signature="$ctrl.signature",
  report-edit="false",
  print="true",
)

print-header(
  report="$ctrl.report",
)

detailed-genomic-analysis(
  report="$ctrl.report",
  alterations="$ctrl.alterations",
  approved-this-cancer="$ctrl.approvedThisCancer",
  approved-other-cancer="$ctrl.approvedOtherCancer",
  print="true",
)

print-header(
  report="$ctrl.report",
)

probe-appendices(
  report="$ctrl.report",
  print="true",
  probe="true",
)
