probe-summary(
  report="$ctrl.report",
  test-information="$ctrl.testInformation",
  signature="$ctrl.signature",
  report-edit="false",
  print="true",
  probe-results="$ctrl.probeResults"
)

printheader(
  report="$ctrl.report",
)

probe-appendices(
  report="$ctrl.report",
  print="true",
  probe="true",
)
