md-dialog(layout="column", aria-label="User Role", ng-cloak, flex=30)
    form(flex='auto', name='form', ng-submit="add(form)")
        md-toolbar
            .md-toolbar-tools
                h2 User Role
                span(flex)
                md-button.md-icon-button(ng-click='cancel()')
                    md-icon cancel
        md-dialog-content(layout-padding)

            div(layout="column")
                p Binding a user to a POG can provide extended access and will automatically display the POG on their dashboard listing.

                div(layout="row")
                    md-autocomplete(
                        md-input-name="User",
                        md-selected-item="role.user",
                        md-search-text="searchQuery",
                        md-items="user in searchUsers(searchQuery)",
                        md-item-text="user.firstName + ' ' + user.lastName",
                        md-floating-label="User",
                        md-autofocus=true,
                        md-autoselect=true,
                        md-require-match,
                        md-dropdown-position="bottom",
                        required,
                        flex
                        )
                        md-item-template {{user.firstName}} {{user.lastName}}
                        div(ng-messages="User", ng-if="form.User.$touched")
                            div(ng-message="required") A user must be selected
                div(layout="row")
                    md-input-container(flex)
                        md-select(ng-model="role.role", aria-label"Role", required, placeholder="Role")
                            md-option(ng-value="'clinician'") Clincian
                            md-option(ng-value="'bioinformatician'") Bioinformatician
                            md-option(ng-value="'analyst'") Analyst
                            md-option(ng-value="'reviewer'") Reviewer
                            md-option(ng-value="'admin'") Administrator


        md-dialog-actions(layout="row", layout-aligh="end center")
            md-button(type="submit").md-primary.md-raised Add Role
