md-content 
  section.patient-info
    md-subheader.md-no-sticky.print-title Patient Information
      span(ng-if="$ctrl.reportEdit").edit
        md-icon(ng-click="$ctrl.updatePatient($event)") edit

    div(layout="column", flex).details.patient-info__details
      div(layout="row", flex).patient-info__description-container
        dt(flex="{{$ctrl.detailSize}}", ng-init="$ctrl.detailSize=10").patient-info__description-term Patient ID:
        dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.POGID}}

        dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Alternate ID:
        dd(flex).patient-info__description-details {{$ctrl.report.pog.alternate_identifier || 'N/A'}}

        dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Sex:
        dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.gender}}

      div(layout="row", flex).patient-info__description-container
        dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Tumour Sample:
        dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.tumourSample}}

        dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Tumour Type:
        dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.tumourType}}

        dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Constitutional Sample:
        dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.constitutionalSample}}

      div(layout="row", flex).patient-info__description-container
        dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Report Date:
        dd(flex).patient-info__description-details {{$ctrl.report.createdAt | date: 'yyyy-MM-dd'}}

        dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Case Type:
        dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.caseType}}

        dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Biopsy Details:
        dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.biopsySite}}

      div(layout="row", flex).patient-info__description-container
        dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Physician:
        dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.physician}}

        dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Age at Diagnosis:
        dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.age}}

        dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Age of Consent:
        dd(flex).patient-info__description-details {{$ctrl.report.pog.age_of_consent || 'Not Specified'}}

      div(layout="row", flex).patient-info__description-container
        dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Protocol:
        dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.tumourProtocol}}

        dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Biopsy:
        dd(flex).patient-info__description-details {{$ctrl.report.analysis.analysis_biopsy || 'N/A'}}

        dt(flex="{{$ctrl.detailSize}}").patient-info__description-term
        dd(flex).patient-info__description-details

  section.tumour-analysis
    md-subheader.md-no-sticky.print-title Tumour Analysis Summary

    div(layout="column", flex)

      div(layout="row")
        div(layout="column", flex).dataBox.tumour-analysis__full-box
          h2.title.tumour-analysis__subheader Genome Status
            md-icon(ng-if="!$ctrl.print", ng-click="$ctrl.showHelpMessage($event, $ctrl.helpMessages.genomeStatus)").tumour-analysis__icon help

          div.box.tumour-analysis__box
            div(layout="row", flex).heading.tumour-analysis__box-header
              div(flex) Tumour Content
              div(flex) Ploidy Model
            div(layout="row", flex).content.tumour-analysis__box-content
              div(flex)
                tumour-content(
                  tc="$ctrl.tumourAnalysis.tumourContent",
                  md-whiteframe="1",
                  ng-if="$ctrl.tumourAnalysis.tumourContent !== -1 && !$ctrl.print",
                )
                span(ng-if="$ctrl.tumourAnalysis.tumourContent !== -1 && $ctrl.print") {{$ctrl.tumourAnalysis.tumourContent}}%
                span(ng-if="$ctrl.tumourAnalysis.tumourContent === -1") N/A
              div(flex) {{$ctrl.tumourAnalysis.ploidy}}

        div(layout="column", flex).dataBox.tumour-analysis__full-box
          h2.title.tumour-analysis__subheader Tissue Comparators
            md-icon(ng-if="!$ctrl.print", ng-click="$ctrl.showHelpMessage($event, $ctrl.helpMessages.tissueComparators)").tumour-analysis__icon help

          div.box.tumour-analysis__box
            div(layout="row", flex).heading.tumour-analysis__box-header
              div(flex) Normal Expression
              div(flex) Disease Expression
            div(layout="row", flex).content.tumour-analysis__box-content
              div(flex) {{$ctrl.tumourAnalysis.normalExpressionComparator}}
              div(flex) {{$ctrl.tumourAnalysis.diseaseExpressionComparator}}

        div(layout="column", flex).dataBox.tumour-analysis__full-box
          h2.title.tumour-analysis__subheader Subtyping
            md-icon(ng-if="!$ctrl.print", ng-click="$ctrl.showHelpMessage($event, $ctrl.helpMessages.subtyping)").tumour-analysis__icon help

          div.box.tumour-analysis__box
            div(layout="row", flex).heading.tumour-analysis__box-header
              div(flex) Subtype
            div(layout="row", flex).content.tumour-analysis__box-content
              div(flex).editable
                span
                  | {{($ctrl.tumourAnalysis.subtyping || "Not Specified")}}
                  md-icon(ng-click="$ctrl.updateTumourAnalysis($event)", ng-if="$ctrl.reportEdit && !$ctrl.print") edit

        div(layout="column", flex).dataBox.tumour-analysis__full-box
          h2.title.tumour-analysis__subheader Microbial Content
            md-icon(ng-if="!$ctrl.print", ng-click="$ctrl.showHelpMessage($event, $ctrl.helpMessages.microbialContent)").tumour-analysis__icon help

          div.box.tumour-analysis__box
            div(layout="row", flex).heading.tumour-analysis__box-header
              div(flex) Species
              div(flex) Integration
            div(layout="row", flex).content.tumour-analysis__box-content
              div(flex) {{$ctrl.microbial.species}}
              div(flex) {{$ctrl.microbial.integrationSite}}
      div(layout="row", layout-align="space-around center", ng-if="$ctrl.print").details--extra-small-text
        span For description of method see APPENDIX
        span Details in EXPRESSION ANALYSIS section
        span Details in EXPRESSION ANALYSIS section
        span Details in MICROBIAL CONTENT section
      br(ng-if="$ctrl.print")

      div(layout="column").mutationTable.mutation-table
        div(layout="row")
          div(layout="column", flex=25).signatureTitle.mutation-table--align-left
            h2.title.tumour-analysis__subheader Mutation Signature
              md-icon(
                ng-if="!$ctrl.print",
                ng-click="$ctrl.showHelpMessage($event, $ctrl.helpMessages.mutationSignature)",
                style="margin-left: 5px;"
              ).tumour-analysis__icon help
          div(layout="column", flex=75).mutation-table--align-left
            h2.title.tumour-analysis__subheader Mutation Burden 
              span.tumour-analysis__subheader--small (in protein coding genes)
              md-icon(ng-if="!$ctrl.print", ng-click="$ctrl.showHelpMessage($event, $ctrl.helpMessages.mutationBurden)").tumour-analysis__icon help

        div(layout="row").header
          div(flex).container
            div(flex).signature.editable.mutation-table__signature
              span(ng-if="($ctrl.tumourAnalysis.mutationSignature.length === 0 || $ctrl.tumourAnalysis.mutationSignature === null)") Nothing striking
                md-icon(ng-click="$ctrl.updateMutationSignature($event)", ng-if="$ctrl.reportEdit && !$ctrl.print") edit
                
              span(ng-if="$ctrl.tumourAnalysis.mutationSignature.length > 0")
                span(ng-repeat="sig in $ctrl.tumourAnalysis.mutationSignature track by $index").repeat-comma
                  span.listitem
                    span(ng-if="sig.modifier !== null") {{sig.modifier}}&nbsp;
                    span {{(sig.associations == '-') ? 'Signature '+sig.signature : sig.associations}}
                    md-tooltip Pearson: {{sig.pearson}} | NNLS: {{sig.nnls}} | Cancer Types: {{sig.cancerTypes}}
                md-icon(ng-click="$ctrl.updateMutationSignature($event)", ng-if="$ctrl.reportEdit && !$ctrl.print") edit

          div(layout="row", flex).mutationType
            div(flex).mutation-table__type
              | SNVs
              md-button(ng-if="!$ctrl.print", md-no-ink).md-icon-button
                md-tooltip(md-direction="bottom") Single Nucleotide Variations
                md-icon info
            div(flex="30").total.mutation-table__type.mutation-table__type--dark {{$ctrl.mutationSummary[0].snv}}

          div(layout="row", flex).mutationType
            div(flex).mutation-table__type
              | Indels
              md-button(ng-if="!$ctrl.print", md-no-ink).md-icon-button
                md-tooltip(md-direction="bottom") Insertions and Deletions
                md-icon info
            div(flex="30").total.mutation-table__type.mutation-table__type--dark {{$ctrl.mutationSummary[0].indels}}

          div(layout="row", flex).mutationType
            div(flex).mutation-table__type
              | SVs
              md-button(ng-if="!$ctrl.print", md-no-ink).md-icon-button
                md-tooltip(md-direction="bottom") Structural Variants
                md-icon info
            div(flex="30").total.mutation-table__type.mutation-table__type--dark.mutation-table__type--right-border {{$ctrl.mutationSummary[0].sv}}

        div(layout="column").data.mutation-table__data
          div(layout="row", flex, ng-repeat="comparator in $ctrl.mutationSummary track by $index", ng-hide="((comparator.comparator === 'average' || comparator.comparator === null) && (!comparator.snv_percentile && !comparator.indel_percentile))")
            //- Null value for comparator invokes legacy support
            //- Previous Mutation Summary did not name the comparator in the CSVs - Comparator pulled from tumour analysis in these cases.
            div(flex).mutation-table__data-row Percentile among {{comparator.comparator || $ctrl.tumourAnalysis.diseaseExpressionComparator }}
            div(flex).mutation-table__data-row {{comparator.snv_percentile || 'na'}}
            div(flex).mutation-table__data-row {{comparator.indel_percentile || 'na'}}
            div(flex).mutation-table__data-row
              span(ng-if="comparator.sv_percentile === null") -
              span(ng-if="comparator.sv_percentile !== null && comparator.comparator === 'average'").clickable {{ comparator.sv_percentile }} (POG)
                md-tooltip Only available with respect to POG

      div(layout="row", layout-align="space-around center", ng-if="$ctrl.print").details--extra-small-text
        span(flex=25)
        span(flex=25).details--align-center Details in SOMATIC MUTATIONS section
        span(flex=25)
        span(flex=25).details--align-center Details in STRUCTURAL VARIATION section
      br(ng-if="$ctrl.print")

    div(layout="column", flex).alterations

      div(layout="row")
        div(layout="column", flex).dataBox.noBottomMargin
          h2.title.tumour-analysis__subheader Key Genomic and Transcriptomic Alterations Identified

      div(layout="row").keyAlterationsIdentified.print-title
        div(layout="row", flex).header.sm.alterations__box
          div(
            flex,
            ng-click="$ctrl.print ? null : $ctrl.setMutationMask('smallMutation')",
            ng-class="{active: ($ctrl.mutationMask == 'smallMutation'), clickable: !$ctrl.print}"
          ).alterations__category--blue Small Mutations
          div(flex=30).alterations__total--blue {{$ctrl.variantCounts.smallMutation}}
        div(layout="row", flex).header.cnv.alterations__box
          div(flex,
          ng-click="$ctrl.print ? null : $ctrl.setMutationMask('cnv')",
          ng-class="{active: ($ctrl.mutationMask == 'cnv'), clickable: !$ctrl.print}"
        ).alterations__category--green Copy Number Variants
          div(flex=30).alterations__total--green {{$ctrl.variantCounts.cnv}}
        div(layout="row", flex).header.sv.alterations__box
          div(flex,
          ng-click="$ctrl.print ? null : $ctrl.setMutationMask('structuralVariant')",
          ng-class="{active: ($ctrl.mutationMask == 'structuralVariant'), clickable: !$ctrl.print}"
        ).alterations__category--purple Structural Variants
          div(flex=30).alterations__total--purple {{$ctrl.variantCounts.structuralVariant}}
        div(layout="row", flex).header.outliers.alterations__box
          div(flex,
          ng-click="$ctrl.print ? null : $ctrl.setMutationMask('expressionOutlier')",
          ng-class="{active: ($ctrl.mutationMask == 'expressionOutlier'), clickable: !$ctrl.print}"
        ).alterations__category--orange Expression Outliers
          div(flex=30).alterations__total--orange {{$ctrl.variantCounts.expressionOutlier}}

      div(flex).alts.alterations__list
        div(
          ng-repeat="variant in $ctrl.genomicAlterations | filter: $ctrl.mutationFilter.bind($ctrl)",
          class="{{variant.type}}",
          layout="row",
          flex=30
        ).alterations__variant {{variant.geneVariant}}
          span(ng-click="$ctrl.removeAlteration($event, variant)", ng-if="$ctrl.reportEdit")
            md-icon remove_circle

        div(ng-if="$ctrl.reportEdit", ng-click="$ctrl.addAlteration($event)", layout="row").add.clickable Add new entry
          span
            md-icon add_circle


      div(flex, ng-if="!$ctrl.print", layout="row", layout-align="end end").keyAlterationsIdentified.margin-bottom-10
        div(flex=10, ng-click="$ctrl.setMutationMask(null)", ng-if="$ctrl.mutationMask").margin-bottom-10.text-small.clickable View all
        span(flex)
        div(flex=25, layout="row").header.vus
          div(flex) Variants of unknown significance
          div(flex=30) {{$ctrl.variantCounts.variantsUnknown}}

      div(flex, ng-if="$ctrl.print", layout="row", layout-align="end end")
        div(layout="row")
          div.alterations__additional-text Additional variants of uncertain significance (VUS) detected in cancer-related genes:
          div.alterations__additional-total {{$ctrl.variantCounts.variantsUnknown}}
      div(layout="row", layout-align="end center", ng-if="$ctrl.print").details--extra-small-text
        span
        span
        span
        span Details in DETAILED GENOMIC ANALYSIS section
