md-dialog(layout="column", aria-label="Update Alterations Entry", flex-md=80, flex-xs=100, flex-lg=60, flex=60).alterations
  md-toolbar
    .md-toolbar-tools
      h2 {{formAction}} Alterations Entry
      span(flex)
      md-button.md-icon-button(ng-click='cancel()')
        md-icon cancel
  md-dialog-content(layout-padding).alterationsForm
    div(layout-align="center center", layout="column")
      ipr-progressor(ipr-stages="stages", ipr-active-stage="activeStage")

    div(label="Report Details", ng-show="activeStage === 0")

      div(layout="column")
        form(flex='auto', name='reportForm', ng-submit="validateReportForm(reportForm)", novalidate)
          div(layout="row")
            md-input-container(flex)
              input(ng-model="gene.gene", name="Gene", placeholder="Gene", required)
              div(ng-messages="form.Gene.$error")
                p(ng-message="required") Gene name is required
            md-input-container(flex)
              input(ng-model="gene.variant", name='Variant', placeholder='Variant', required)
              div.hint Experimental variant
              div(ng-messages="form.Variant.$error")
                p(ng-message="required") Variant is required

          div(layout="row")
            md-input-container(flex)
              md-select(ng-model="gene.variant_type", aria-label="Variant Type", required)
                md-option(ng-repeat="varType in $alterations.variant", ng-value="varType", placeholder="Variant Type") {{varType}}

            md-input-container(flex)
              input(ng-model="gene.kbVariant", name="kbVariant", placeholder="Knowledgebase Variant", required)
              div.hint Knowledgebase variant entry (can differ from experimental)

          div(layout="row")
            md-input-container(flex)
              label Approved Therapy Status
              md-select(ng-model="gene.approvedTherapy", placeholder="Select therapy approval status")
                md-option(ng-value="null") Not Approved/Not Applicable
                md-option(ng-value="'otherCancer'") Approved in other tumour types
                md-option(ng-value="'thisCancer'") Approved in this tumour type

          div(layout="row")
            md-input-container(flex)
              label Biological Sample
              md-select(ng-model="gene.sample", aria-label="Biological Sample", required)
                md-option(ng-repeat="sample in samples", ng-value="sample", placeholder="Biological Sample") {{sample}}

          div(layout="row")
            md-input-container(flex)
              input(ng-model="gene.effect", name='Effect', placeholder='Effect', required)
              div(ng-messages="form.Effect.$error")
                p(ng-message="required") Effect is required


          div(layout="row")
            md-autocomplete(
              md-input-name="Disease",
              md-floating-label="Cancer Type",
              md-selected-item="gene.disease",
              md-search-text="disease.SearchText",
              md-items="item in findDisease(disease.SearchText)",
              md-item-text="item",
              md-min-length=0,
              md-whiteframe="1",
              md-require-match="true",
              md-dropdown-position="bottom",
              required,
              flex
            )
              //span(md-highlight-text="disease.SearchText", md-highlight-falgs="^i") {{item}}
              md-item-template  {{item}}
              md-not-found No Matches Found.
          div(layout="row")
            md-autocomplete(
              md-input-name="Association",
              md-floating-label="Association (Relevance)",
              md-selected-item="gene.association",
              md-search-text="assoc.SearchText",
              md-items="item in findRelevance(assoc.SearchText)",
              md-item-text="item",
              md-min-length=0,
              md-whiteframe="1",
              md-require-match="true",
              md-dropdown-position="bottom",
              required,
              flex
            )
              span(md-highlight-text="assoc.SearchText", md-highlight-falgs="^i") {{item}}
              md-item-template  {{item}}
              md-not-found No Matches Found.

          div(layout="row")
            md-input-container(flex)
              input(ng-model="gene.therapeuticContext", name="Context", placeholder="(Therapeutic) Context", required)
              div(ng-messages="form.Context.$error")
                p(ng-message="required") Context is required

            md-input-container(flex)
              label Clinical Relevance
              md-select(ng-model="gene.alterationType", aria-label"Clinical Relevance", required, ng-disabled="relevanceLock")
                md-option(ng-repeat="(k, v) in $alterations.type", ng-value="k", placeholder="Clinical Relevance") {{v}}

          div(layout="row")
            md-input-container(flex)
              input(ng-model="gene.comment", name="ReportComment", required, placeholder="Update/Create Comments")
              div.hint Why are you updating/creating this entry?
              div(ng-messages="reportForm.ReportComment.$error")
                div(ng-message="required") An update comment is required.
              //md-tooltip Why are you updating/creating this entry?

    div(label="Reference", ng-show="activeStage === 1")

      div(layout="column")

        form(flex='auto', name='referenceForm', ng-submit="validateReportForm(referenceForm)", novalidate)

          div(layout="row")
            md-input-container(flex)
              label Evidence
              md-select(ng-model="gene.evidence", name="referenceEvidence", aria-label="Evidence", required)
                md-option(ng-repeat="(k, val) in $alterations.evidence", ng-value="k", placeholder="Evidence") {{val}}
              div(ng-messages="referenceForm.referenceEvidence.$error")
                div(ng-message="required") Reference evidence is required.

          div(layout="row")
            md-input-container(flex=30)
              md-select(ng-model="reference.type", name="referenceType", aria-label="Reference Type", required)
                md-option(ng-repeat="refType in $alterations.referenceTypes", ng-value="refType", placeholder="Ref Type") {{refType}}
              div(ng-messages="referenceForm.referenceType.$error")
                div(ng-message="required") Reference type is required.

            md-input-container(flex)
              input(ng-model="gene.reference", name="referenceID", placeholder="Reference ID", ng-change="checkPMID()", required)
              div(ng-messages="referenceForm.referenceID.$error")
                div(ng-message="required") A reference id is required.

          div(layout="row")
            md-input-container(flex)
              input(ng-model="reference.title", name="RefTitle", placeholder="Reference Title", ng-disabled="disableRefTitle", required)
              md-progress-linear(md-mode="indeterminate", ng-show="refLoading", ng-init="refLoading=false")
              div(ng-messages="referenceForm.RefTitle.$error")
                div(ng-message="required") A reference title is required.

          div(layout="row")
            md-input-container(flex)
              textarea(ng-model="reference.summary", name="RefSummary", placeholder="Reference Summary", rows=3, required)
              div(ng-messages="referenceForm.RefSummary.$error")
                div(ng-message="required") A reference summary is required.


    div(label="Knowledge Base", ng-show="activeStage === 2")
      div(layout="column")
        form(flex='auto', name='kbForm', ng-submit="validateReportForm(kbForm)", novalidate)
          div(layout="row")
            div(layout-align="center center").kbEntryStatus
              md-icon(ng-show="!events.dirty && !events.valid").invalid.clickable error_outline
                md-tooltip The Events-Expression provided does not satisfy the required format. Please check the provided documentation
              md-icon(ng-show="!events.dirty && events.valid").valid check
              md-icon(ng-show="events.dirty && !events.valid").checking more_horiz

            md-input-container(flex, ng-class="{ 'md-input-invalid': (!events.dirty && !events.valid) }")
              label Events-Expression
              input(ng-model="kb.events_expression", name="kbEventsExpression", placeholder="Events-Expression", required, ng-disabled="!kbEditDisabled || (events.dirty === true)", ng-blur="validateKBEvents()")

              div.md-input-messages-animation.md-auto-hide
                p(ng-show="!events.dirty && !events.valid", style="opacity: 1; margin-top: 0px;").help-block.md-input-message-animation The Events-Expression provided does not satisfy the required format. Please check the provided documentation

            div(style="margin-top:25px")
              md-icon.clickable help_outline

          div(layout="row")
            md-input-container(flex)
              input(ng-model="kb.context", name="kbContext", placeholder="Context", required, ng-disabled="!kbEditDisabled")

          div(layout="row")
            md-input-container(flex=30)
              input(ng-model="kb.type", name="kbType", placeholder="Type", required, ng-disabled="!kbEditDisabled")

            md-input-container(flex)
              input(ng-model="kb.relevance", name="kbRelevance", placeholder="Relevance", required, ng-disabled="!kbEditDisabled")

          div(layout="row")
            md-input-container(flex=30)
              input(ng-model="kb.disease_list", name="kbDiseaseList", placeholder="Disease-List", required, ng-disabled="!kbEditDisabled")

            md-input-container(flex)
              input(ng-model="kb.evidence", name="kbEvidence", placeholder="Evidence", required, ng-disabled="!kbEditDisabled")

          div(layout="row")
            md-input-container(flex=70)
              label Sample Type
              md-select(ng-model="kb.sample_type", name="kbSampleType", placeholder="Sample Type", ng-disabled="!kbEditDisabled")
                md-option(ng-value="null") N/A
                md-option(ng-repeat="type in $knowledgebase.sampleType", ng-value="type") {{type}}

            md-input-container(flex)
              input(ng-model="kb.sample_size", name="kbSampleSize", placeholder="Sample Size", ng-disabled="!kbEditDisabled", type="number", step=1, min=0)

          div(layout="row")
            md-input-container(flex)
              label Pre-Clinical Model
              md-select(ng-model="kb.pre_clinical_model", name="kbPreClinicalModel", placeholder="Pre-Clinical Model", ng-disabled="!kbEditDisabled")
                md-option(ng-value="null") N/A
                md-option(ng-repeat="model in $knowledgebase.preClinicalModel", ng-value="model") {{model}}

          div(layout="row")
            md-input-container(flex)
              textarea(rows=4, md-maxlength=250, ng-model="kb.comments", placeholder="Knowledgebase Reference Comments", ng-disabled="!kbEditDisabled")

          div(layout="row")
            md-checkbox(ng-model="kbEditDisabled", ng-init="kbEditDisabled=false", ng-true-value="true", ng-false-value="false", aria-label="Edit Knowledge Base values manually")
            | I know what I'm doing, I want to edit these fields manually.

  md-dialog-actions(layout="row", layout-aligh="end center", layout-padding)
    md-button(ng-click="lastStage()", ng-show="activeStage > 0").md-raised.md-primary Previous
    span(flex)
    md-button(ng-click="nextStage()", ng-show="activeStage < 2").md-raised.md-primary Next
    md-button(ng-click="submit()", ng-show="activeStage === 2").md-raised.md-primary Done

