section
  md-progress-linear(ng-if="$ctrl.loading")
  md-subheader.md-primary.md-no-sticky Structural Variation

  div(layout="column", flex)

    div(layout="column", flex).bg-white

      h2.title Summary of Structural Events

      md-tabs(md-dynamic-height=true, md-center-tabs=true).margin-bottom-20
        md-tab(label="Genome")
          div(layout="column", layout-align="center center")
            img(data-ng-src="data:image/svg;base64,{{$ctrl.images['circosSv.genome'].data}}")
        md-tab(label="Transcriptome")
          div(layout="column", layout-align="center center")
            img(data-ng-src="data:image/svg;base64,{{$ctrl.images['circosSv.transcriptome'].data}}")

    div(layout="column", flex).bg-white

      h2.title Structural Variation: Genomic Details

      div(ng-repeat="(title, svs) in $ctrl.StrucVars track by $index")
        react-table(
          column-defs="$ctrl.columnDefs",
          row-data="svs",
          title-text="$ctrl.titleMap[title]",
          report-ident="$ctrl.report.ident",
          can-toggle-columns="true",
          theme="$ctrl.theme"
        )
