div(layout="column", ng-class="{'sidebar--open': $ctrl.maximized}").sidebar
  div(layout="row").sidebar__button-row
    md-button(ng-click="$ctrl.toggleNavbar()").md-icon-button
      md-icon chevron_left
  md-divider

  a(layout="row", ng-if="$ctrl.pageAccess.genomic_report || $ctrl.pageAccess.probe_report", ui-sref="root.reportlisting.reports",
    ng-class="{'sidebar__row--active': $ctrl.$state.current.name.includes('reportlisting')}"
  ).sidebar__row
    md-icon.sidebar__icon assignment
    md-tooltip(ng-if="!$ctrl.maximized", md-direction="right") Reports
    span(ng-class="{'sidebar__text--visible': $ctrl.maximized}").sidebar__text Reports

  a(layout="row", ng-if="$ctrl.pageAccess.germline", ui-sref="root.germline",
    ng-class="{'sidebar__row--active': $ctrl.$state.current.name.includes('germline')}"
  ).sidebar__row
    md-icon.sidebar__icon supervisor_account
    md-tooltip(ng-if="!$ctrl.maximized", md-direction="right") Germline
    span(ng-class="{'sidebar__text--visible': $ctrl.maximized}").sidebar__text Germline


  a(layout="row", ng-if="$ctrl.isAdmin", ui-sref="root.admin.users",
      ng-class="{'sidebar__row--active': $ctrl.$state.current.name.includes('users')}"
    ).sidebar__row
    md-icon.sidebar__icon insert_emoticon
    md-tooltip(ng-if="!$ctrl.maximized", md-direction="right") Users
    span(ng-class="{'sidebar__text--visible': $ctrl.maximized}").sidebar__text Users

  a(layout="row", ng-if="$ctrl.isAdmin", ui-sref="root.admin.groups",
      ng-class="{'sidebar__row--active': $ctrl.$state.current.name.includes('groups')}"
    ).sidebar__row
    md-icon.sidebar__icon emoji_transportation
    md-tooltip(ng-if="!$ctrl.maximized", md-direction="right") Groups
    span(ng-class="{'sidebar__text--visible': $ctrl.maximized}").sidebar__text Groups

  a(layout="row", ng-if="$ctrl.isAdmin", ui-sref="root.admin.projects",
      ng-class="{'sidebar__row--active': $ctrl.$state.current.name.includes('projects')}"
    ).sidebar__row
    md-icon.sidebar__icon folder_special
    md-tooltip(ng-if="!$ctrl.maximized", md-direction="right") Projects
    span(ng-class="{'sidebar__text--visible': $ctrl.maximized}").sidebar__text Projects

  span(flex)
  md-divider
  div(layout="row").sidebar__logos
    img(src="img/bcca_logo.png").sidebar__image-logo
    img(src="img/sidebarlogo.png").sidebar__image-text
