md-dialog(layout="column", aria-label="Start Tracking POG", flex=50).editor
    form(flex='auto', name='Track', ng-submit="submit(Track)", novalidate)
        md-toolbar
            .md-toolbar-tools
                h2 Start Tracking POG
                span(flex)
                md-button.md-icon-button(ng-click='cancel()')
                    md-icon cancel
        md-dialog-content(layout-padding)
            div(layout="column")
                p To start tracking a new POG, we'll need a few details from you.

                div(layout="row")
                    div(layout="row", flex=50)
                        md-autocomplete(
                        md-input-name="POGID",
                        md-selected-item="track.POGID",
                        md-search-text="searchQuery",
                        md-items="pog in searchPOGs(searchQuery)",
                        md-item-text="pog.POGID",
                        md-floating-label="POGID",
                        md-autofocus=true,
                        md-autoselect=true,
                        md-dropdown-position="bottom",
                        md-require-match=false,
                        required,
                        flex
                        )
                            md-item-template {{pog.POGID}}
                            div(ng-messages="Track.POGID", ng-if="form.POGID.$touched")
                                div(ng-message="required") A POGID must be entered

                    md-input-container(flex)
                        p.hint If the POGID is not found, a new entry will be created. If the POGID is found, please mind the biopsy details below carefully.

                div(layout="row")
                    md-input-container(flex)
                        input(name="ClinBiop", placeholder="Clinical Biopsy ID (biospec_#)", ng-model="track.clinical_biopsy", ng-init="track.clinical_biopsy = 'biospec_'" required)
                        p.hint Which biopsy number is this to make it to the lab?
                        div(ng-messages="Track.ClinBiop", role="alert")
                            p(ng-message="required") The clinical biopsy (biospec_) number is required to start tracking


                    md-input-container(flex)
                        input(name="AnalysisBiopsy", placeholder="Analysis Biopsy (Biopsy #)", ng-model="track.analysis_biopsy")
                        p.hint Indicates the ordinal of the analysis run post-sequencing. This value can be automatically populated later by BioApps.

                div(layout="row")
                    md-input-container(flex)
                        input(name="AnalysisName", placeholder="Analysis Name", ng-model="track.name")
                        p.hint The human friendly name for this analysis. Eg: Biopsy 2

                div(layout="row")
                    md-input-container(flex)
                        label Analysis Priority
                        md-select(ng-model="track.priority", ng-init="track.priority = '2'", aria-label="Analysis Priority", required)
                            md-option(value="1") Low
                            md-option(value="2") Normal
                            md-option(value="3") High

                div(layout="row")
                    md-input-container(flex)
                        input(name="BiopsyNotes", placeholder="Biopsy Notes", ng-model="track.biopsy_notes")
                        div(ng-messages="Track.BiopsyNotes", role="alert")
                            p(ng-message="required") The biopsy notes are required

                    div(layout="row", flex)
                        md-autocomplete(
                        md-input-name="Disease",
                        md-selected-item="track.disease",
                        md-search-text="diseaseQuery",
                        md-items="disease in searchDisease(diseaseQuery)",
                        md-item-text="disease.text",
                        md-floating-label="Disease",
                        md-autofocus=true,
                        md-autoselect=true,
                        md-require-match=true,
                        md-dropdown-position="bottom",
                        required,
                        flex
                        )
                            md-item-template {{disease.text}}
                            div(ng-messages="Track.Disease", ng-if="form.Disease.$touched")
                                div(ng-message="required") A disease name must be selected


        md-dialog-actions(layout="row", layout-aligh="end center")
            span(flex)
            md-button(type="submit").md-primary.md-raised Initiate Tracking
