section
  md-subheader.md-no-sticky.md-primary Somatic Mutations

  div(layout="column", flex)

    div(layout="column", flex).bg-white
      h2.title Small Mutations: Genomic Details

      div(ng-repeat="(title, smallMutation) in $ctrl.smallMutations")
        react-table(
          column-defs="$ctrl.columnDefs",
          row-data="smallMutation",
          title-text="$ctrl.titleMap[title] || 'Other Variants'",
          report-ident="$ctrl.report.ident"
          can-toggle-columns="true",
          theme="$ctrl.theme",
        )
