md-content(flex)
  md-toolbar
    div.md-toolbar-tools
      span(flex)
      h2(flex).text-center.md-hue-3 {{$ctrl.pog.POGID}} Targeted Gene Report
      span(flex)
  div(layout="row", flex).pog-report
    div(flex, ui-view="")

    div(layout="column").report-menu__container
      div.reportMenu
        h1 Report Sections
        ul 
          li
            span(
              ui-sref="root.reportlisting.probe.summary",
              ng-class="$ctrl.activeSection('summary') ? 'active' : ''",
              layout="row"
            ).clickable.inline
              span Summary
              md-icon(ng-click="$ctrl.openPrint()", aria-label="Print Summary Section") print
          li
            span(
              ui-sref="root.reportlisting.probe.detailedGenomicAnalysis",
              ng-class="$ctrl.activeSection('detailedGenomicAnalysis') ? 'active' : ''",
              layout="row"
            ).clickable.inline
              span Detailed Genomic Analysis
          li
            span(
              ui-sref="root.reportlisting.probe.appendices",
              ng-class="$ctrl.activeSection('appendices') ? 'active' : ''",
              layout="row"
            ).clickable.inline
              span Appendices
          li
            span(
              ui-sref="root.reportlisting.probe.reportSettings",
              ng-class="$ctrl.activeSection('reportSettings') ? 'active' : ''", ng-if="$ctrl.reportEdit",
              layout="row"
            ).clickable.inline
              span Report Settings