md-dialog(layout="column", aria-label="Add Biopsy", flex-md=80, flex-xs=100, flex-lg=70, flex=70).editor
    md-toolbar
        .md-toolbar-tools
            h2 Add Biopsy
            span(flex)
            md-button.md-icon-button(ng-click='cancel()')
                md-icon cancel
    md-dialog-content(layout-padding).alterationsForm
        div(label="Patient", ng-show="activeStage === 0")
            form(name="PatientForm", ng-submit="submit()")
                div(layout="row")
                    // POG ID
                    md-autocomplete(
                    md-input-name="POGID",
                    md-selected-item="patient.POGID",
                    md-search-text="searchQuery",
                    md-items="pog in searchPOGs(searchQuery)",
                    md-item-text="pog.POGID",
                    md-floating-label="Patient ID",
                    md-autofocus="true",
                    md-autoselect="true",
                    md-dropdown-position="bottom",
                    md-selected-item-change="checkPOG()",
                    ng-blur="checkPOG()",
                    md-delay="200",
                    md-match-case-insensitive="true",
                    required,
                    flex=25
                    )
                        md-item-template {{pog.POGID}}
                        div(ng-messages="PatientForm.POGID.$error")
                            div(ng-message="required").md-input-message-animation A Patient ID is required

                    // Alternate Identifier
                    md-input-container(flex)
                        input(ng-model="patient.alternate_identifier", name="AlternateID", placeholder="Alternate Identifier")

                    // Biospecimen Biopsy Number
                    md-input-container(flex)
                        input(ng-model="patient.clinical_biopsy", name="ClinicalBiopsy", placeholder="Clinical Biopsy Number", required)
                        div(ng-messages="PatientForm.ClinicalBiopsy.$error")
                            div(ng-message="required") A clinical biopsy number is required

                    // Pediatric ID
                    md-input-container(flex)
                        input(ng-model="patient.pediatric_id", name="PediatricID", placeholder="Pediatric ID")

                // LIMS Sources for selected POG ID
                div(layout="column", ng-show="show_sources", md-whiteframe=2).material-table.inset.margin-bottom-20

                    p Sources found in LIMS for this patient.

                    div(layout="row").head
                        div(flex=15) Source
                        div(flex=20) Collection Date
                        div(flex) Anatomic Site
                        div(flex=20) Disease Vs. Normal
                        div(flex=5).text-right
                            md-icon(ng-click="show_sources=false").small.clickable remove_circle_outline
                                md-tooltip Hide LIMS sources search results

                    div(layout="row", ng-show="source_loading").row
                        div(flex)
                            md-progress-linear(md-mode="indetermenite")

                    div(layout="row", ng-show="pog_sources.length === 0 && !source_loading").row
                        div(flex).text-center No sources found for this patient in LIMS

                    div(layout="row", ng-repeat="source in pog_sources").row
                        div(flex=15) {{source.original_source_name}}
                        div(flex=20)
                            span.link {{source.sample_collection_time | amTimeAgo}}
                                md-tooltip {{source.sample_collection_time | amDateFormat: 'YYYY-MM-DD HH:mm'}}
                        div(flex) {{source.anatomic_site}}
                        div(flex=20) {{source.disease_status}}
                        div(flex=5)

                div(layout="row", flex)
                    // Project
                    md-input-container(flex)
                        md-select(ng-model="patient.projects", placeholder="Project(s)", name="Project", ng-required="true", multiple,
                        ng-model-options="{trackBy: '$value.ident'}", ng-disabled="existingPOG")
                            md-option(ng-repeat="p in projects", ng-value="p", ng-selected="p.name === 'POG'", ng-disabled="p.name === 'POG'") {{p.name}}
                        div(ng-messages="PatientForm.Project.$error")
                                div(ng-message="required") Please select at least one project

                    // Age of Consent
                    md-input-container(flex)
                        input(ng-model="patient.age_of_consent", type="number", name="AgeOfConsent", placeholder="Age of Consent", min=1)
                        div(ng-messages="PatientForm.AgeOfConsent.$error")
                            div(ng-message="number") Entry must be a number
                            div(ng-message="min") Entry must be a positive integer

                    // Disease
                    md-autocomplete(
                    md-input-name="Disease",
                    md-selected-item="patient.disease",
                    md-search-text="diseaseQuery",
                    md-items="disease in searchDisease(diseaseQuery)",
                    md-item-text="disease.text",
                    md-floating-label="Disease",
                    md-autoselect="true",
                    md-dropdown-position="bottom",
                    flex,
                    required
                    )
                        md-item-template {{disease.text}}
                        div(ng-messages="PatientForm.Disease.$error")
                            div(ng-message="required").md-input-message-animation A disease name is required

                    // Cancer Group (3 Letter Code)
                    md-autocomplete(
                    md-input-name="CancerGroup",
                    md-selected-item="patient.threeLetterCode",
                    md-search-text="cancerGroupQuery",
                    md-items="group in searchGroups(cancerGroupQuery)",
                    md-item-text="group.code",
                    md-floating-label="Cancer Group (3 Letter Code)",
                    md-autoselect="true",
                    md-require-match="true",
                    md-select-on-match="true",
                    md-dropdown-position="bottom",
                    md-input-minlength=3,
                    md-input-maxlength=3,
                    required,
                    flex
                    )
                        md-item-template {{group.code}}
                        div(ng-messages="PatientForm.CancerGroup.$error")
                            div(ng-message="required").md-input-message-animation A cancer group is required
                            div(ng-message="minlength").md-input-message-animation Entry must be 3 characters long
                            div(ng-message="maxlength").md-input-message-animation Entry must be 3 characters long
                            div(ng-message="md-require-match").md-input-message-animation Please select an existing cancer group

                div(layout="row")
                    // Biopsy Date
                    md-input-container(style="padding-right: 40px;")
                        label Biopsy Date
                        md-datepicker(name="BiopsyDate", ng-model="patient.biopsy_date", required)
                        div(ng-messages="PatientForm.BiopsyDate.$error")
                            div(ng-message="required").md-input-message-animation A biopsy date is required

                    md-input-container(flex)
                        input(ng-model="patient.biopsy_notes", name="BiopsyNotes", placeholder="Biopsy Notes")

                // Physicians
                span Physicians
                div(layout="column")
                    div(layout="row", ng-repeat="i in physicians track by $index", flex)
                        md-input-container(flex)
                            input(ng-model="patient.physician[i].first_name", placeholder="First Name", name="PhysFirstName{{i}}", required)
                            div(ng-messages="PatientForm['PhysFirstName' + i].$error")
                                div(ng-message="required") A first name is required for this physician
                        md-input-container(flex)
                            input(ng-model="patient.physician[i].last_name", placeholder="Last Name", name="PhysLastName{{i}}", required)
                            div(ng-messages="PatientForm['PhysLastName' + i].$error")
                                div(ng-message="required") A last name is required for this physician

                        md-icon(ng-click="removePhysician(i)").clickable remove_circle

                    div(layout="row")
                        md-button(ng-click="addPhysician()").md-primary.md-raised.small Add Physician

                br
                br
                div(layout="row")
                    // Comments
                    md-input-container(flex)
                        textarea(ng-model="patient.notes", name="Notes", placeholder="Comments", rows=3, md-maxlength=500)

                div(layout="row")
                    md-input-container(flex)
                        md-checkbox(ng-model="patient.tracking", name="InitTracking") Initialize tracking for this biopsy

                div(layout="column", ng-hide="patient.tracking")

                    p If tracking is not initialized, library and BioApps biopsy number (analytical biopsy) are required. &nbsp;
                        span(ng-click="libraryGuess()").link (help me/guess)

                    div(layout="column", ng-show="find_libraries", md-whiteframe=2).material-table.inset.margin-bottom-20
                        div(layout="row").head
                            div(flex) Collection Date
                            div(flex) Tumour
                            div(flex) Normal
                            div(flex) Transcriptome
                            div(flex=5)
                        div(layout="row", ng-show="libraries_loading")
                            div(flex)
                                md-progress-linear(md-mode="indeterminate")
                        div(layout="row", ng-repeat="collection in found_libraries track by $index").row
                            div(flex) {{collection.collection_date | amDateFormat: 'YYYY-MM-DD'}}
                            div(flex) {{collection.tumour.name}}
                            div(flex) {{collection.normal.name}}
                            div(flex) {{collection.transcriptome.name}}
                            div(flex=5)
                                md-icon(ng-click="selectCollection(collection)").clickable.blue add_circle
                                    md-tooltip Select this set of libraries


                    div(layout="row")
                        md-input-container(flex)
                            input(ng-model="patient.libraries.tumour", placeholder="Tumour Library", name="TumourLibrary", ng-required="!patient.tracking")
                            div(ng-messages="PatientForm.TumourLibrary.$error")
                                div(ng-message="required") A tumour library is required
                        md-input-container(flex)
                            input(ng-model="patient.libraries.normal", placeholder="Normal Library", name="NormalLibrary", ng-required="!patient.tracking")
                            div(ng-messages="PatientForm.NormalLibrary.$error")
                                div(ng-message="required") A normal library is required
                        md-input-container(flex)
                            input(ng-model="patient.libraries.transcriptome", placeholder="Transcriptome Library", name="TranscriptomeLibrary", ng-required="!patient.tracking")
                            div(ng-messages="PatientForm.TranscriptomeLibrary.$error")
                                div(ng-message="required") A transcriptome library is required

                    div(layout="row")
                        md-input-container(flex)
                            input(ng-model="patient.analysis_biopsy", placeholder="Bioinformatics Biopsy Number", name="AnalyticalBiopsy", ng-required="!patient.tracking")
                            div(ng-messages="PatientForm.AnalyticalBiopsy.$error")
                                div(ng-message="required") A bioinformatics biopsy number is required
                            div.hint eg: biop1. Include the biop prefix to the number


                div(layout="row")
                    md-input-container(flex)
                        md-checkbox(ng-model="patient.comparators", name="Comparators") Add comparator details


                div(layout="column", ng-show="patient.comparators")

                    p If tracking is not initialized, library and BioApps biopsy number (analytical biopsy) are required. &nbsp;
                        span(ng-click="comparatorGuess()").link (help me/guess)

                    div(layout="column", ng-show="find_libraries", md-whiteframe=2).material-table.inset.margin-bottom-20
                        div(layout="row").head
                            div(flex) Collection Date
                            div(flex) Tumour
                            div(flex) Normal
                            div(flex) Transcriptome
                            div(flex=5)
                        div(layout="row", ng-show="libraries_loading")
                            div(flex)
                                md-progress-linear(md-mode="indeterminate")
                        div(layout="row", ng-repeat="collection in found_libraries track by $index").row
                            div(flex) {{collection.collection_date | amDateFormat: 'YYYY-MM-DD'}}
                            div(flex) {{collection.tumour.name}}
                            div(flex) {{collection.normal.name}}
                            div(flex) {{collection.transcriptome.name}}
                            div(flex=5)
                                md-icon(ng-click="selectCollection(collection)").clickable.blue add_circle
                                    md-tooltip Select this set of libraries


                    div(layout="row")
                        md-input-container(flex)
                            input(ng-model="patient.comparator_normal.tcga_comparator_biopsy_site", placeholder="TCGA Comparator Biopsy Site", name="TCGAComparatorBiopsySite", ng-required="patient.comparators")
                            div(ng-messages="PatientForm.TCGAComparatorBiopsySite.$error")
                                div(ng-message="required") A TCGA comparator biopsy site is required
                        md-input-container(flex)
                            input(ng-model="patient.comparator_normal.tcga_comparator_primary_site", placeholder="TCGA Comparator Primary Site", name="TCGAComparatorPrimarySite", ng-required="patient.comparators")
                            div(ng-messages="PatientForm.TCGAComparatorPrimarySite.$error")
                                div(ng-message="required") A TCGA comparator primary site is required

                    div(layout="row")
                        md-input-container(flex)
                            input(ng-model="patient.comparator_normal.gtex_comparator_biopsy_site", placeholder="GTex Comparator Biopsy Site", name="GTexComparatorBiopsySite", ng-required="patient.comparators")
                            div(ng-messages="PatientForm.GTexComparatorBiopsySite.$error")
                                div(ng-message="required") A GTex comparator biopsy site is required
                        md-input-container(flex)
                            input(ng-model="patient.comparator_normal.gtex_comparator_primary_site", placeholder="GTex Comparator Primary Site", name="GTexComparatorPrimarySite", ng-required="patient.comparators")
                            div(ng-messages="PatientForm.GTexComparatorPrimarySite.$error")
                                div(ng-message="required") A GTex comparator primary site is required

                    div(layout="row")
                        md-input-container(flex)
                            input(ng-model="patient.comparator_normal.normal_comparator_biopsy_site", placeholder="Normal Comparator Biopsy Site", name="NormalComparatorBiopsySite", ng-required="patient.comparators")
                            div(ng-messages="PatientForm.NormalComparatorBiopsySite.$error")
                                div(ng-message="required") A normal comparator biopsy site is required
                        md-input-container(flex)
                            input(ng-model="patient.comparator_normal.normal_comparator_primary_site", placeholder="Normal Comparator Primary Site", name="NormalComparatorPrimarySite", ng-required="patient.comparators")
                            div(ng-messages="PatientForm.NormalComparatorPrimarySite.$error")
                                div(ng-message="required") A normal comparator primary site is required

                    div(layout="row")
                        md-input-container(flex)
                            input(ng-model="patient.analysis_biopsy", placeholder="Bioinformatics Biopsy Number", name="AnalyticalBiopsy", ng-required="!patient.tracking")
                            div(ng-messages="PatientForm.AnalyticalBiopsy.$error")
                                div(ng-message="required") A bioinformatics biopsy number is required
                            div.hint eg: biop1. Include the biop prefix to the number


    md-dialog-actions(layout="row", layout-aligh="end center", layout-padding)
        md-button(ng-click="submit(Patient)", ng-disabled="sending").md-raised.md-primary.medium Add Biopsy

