md-dialog(layout="column", aria-label="Edit Biopsy Analysis", flex-md=80, flex-xs=100, flex-lg=70, flex=70).editor
    md-toolbar
        .md-toolbar-tools
            h2 Edit Biopsy Analysis
            span(flex)
            md-button.md-icon-button(ng-click='cancel()')
                md-icon cancel
    md-dialog-content(layout-padding).alterationsForm
        div(label="Patient")
            form(name="PatientForm", ng-submit="submit()", novalidate)
                div(layout="column")

                    div(layout="row")
                        md-input-container(layout="row", flex)
                            input(disabled="disabled", ng-value="patient.pog.POGID", placeholder="Patient ID")

                        // Pediatric ID
                        md-input-container(flex)
                            input(ng-model="patient.pediatric_id", name="PediatricID", placeholder="Pediatric ID")

                    div(layout="row")
                        // Biospecimen Biopsy Number
                        md-input-container(flex)
                            input(ng-model="patient.clinical_biopsy", name="ClinicalBiopsy", placeholder="Clinical Biopsy Number", required)
                            div(ng-messages="PatientForm.ClinicalBiopsy.$error")
                                div(ng-message="required") A clinical biopsy number is required

                        md-input-container(flex)
                            input(ng-model="patient.analysis_biopsy", placeholder="Bioinformatics Biopsy Number", name="AnalyticalBiopsy", ng-required="!patient.tracking")
                            div(ng-messages="PatientForm.AnalyticalBiopsy.$error")
                                div(ng-message="required") A bioinformatics biopsy number is required

                    div(layout="row", flex)
                        //Disease
                        md-autocomplete(
                        md-input-name="Disease",
                        md-selected-item="patient.disease",
                        md-search-text="diseaseQuery",
                        md-items="disease in searchDisease(diseaseQuery)",
                        md-item-text="disease.text",
                        md-floating-label="Disease",
                        md-autoselect="true",
                        md-dropdown-position="bottom",
                        flex=60,
                        required
                        )
                            md-item-template {{disease.text}}
                            div(ng-messages="PatientForm.Disease.$error", ng-if="PatientForm.Disease.$touched")
                                div(ng-message="required") A disease name is required.


                        // Cancer Group (3 Letter Code)
                        md-autocomplete(
                        md-input-name="CancerGroup",
                        md-selected-item="patient.threeLetterCode",
                        md-search-text="cancerGroupQuery",
                        md-items="group in searchGroups(cancerGroupQuery)",
                        md-item-text="group.code",
                        md-floating-label="Cancer Group (3 Letter Code)",
                        md-autoselect="true",
                        md-require-match="true",
                        md-select-on-match="true",
                        md-dropdown-position="bottom",
                        md-input-minlength=3,
                        md-input-maxlength=3,
                        required,
                        flex=60
                        )
                            md-item-template {{group.code}}
                            div(ng-messages="PatientForm.CancerGroup.$error", ng-if="PatientForm.CancerGroup.$touched")
                                div(ng-message="required").md-input-message-animation A cancer group must be selected
                                div(ng-message="minlength").md-input-message-animation Entry must be 3 characters long
                                div(ng-message="maxlength").md-input-message-animation Entry must be 3 characters long
                                div(ng-message="md-require-match").md-input-message-animation Please select an existing cancer group


                    div(layout="row")
                        //Biopsy Date
                        md-input-container(style="padding-right: 40px;")
                            label Biopsy Date
                            md-datepicker(name="BiopsyDate", ng-model="patient.biopsy_date", required)
                            div(ng-messages="PatientForm.BiopsyDate.$error", ng-if="PatientForm.BiopsyDate.$touched")
                                div(ng-message="required").md-input-message-animation A biopsy date is required

                        // Biopsy Notes
                        md-input-container(flex)
                            input(ng-model="patient.biopsy_notes", name="BiopsyNotes", placeholder="Biopsy Notes")

                    div(layout="row")
                        // Comments
                        md-input-container(flex)
                            textarea(ng-model="patient.notes", name="Notes", placeholder="Comments", rows=3, md-maxlength=500, flex)


                    div(layout="row")
                        md-input-container(flex, layout="row")
                            label Genomic Analysis Due
                            md-datepicker(ng-model="patient.date_analysis", flex)

                        md-input-container(flex, layout="row")
                            label Tumour Panel Presentation
                            md-datepicker(ng-model="patient.date_presentation", flex)

                        md-input-container(flex, layout="row")
                            label Onco-Panel Submitted
                            md-datepicker(ng-model="patient.onco_panel_submitted", flex)

                    div(layout="row")
                        div(flex=30) &nbsp;

                    div(layout="row")
                        md-input-container(flex)
                            input(ng-model="patient.libraries.normal", placeholder="Normal Library", name="NormalLibrary", ng-required="!patient.tracking")
                            div(ng-messages="PatientForm.NormalLibrary.$error", ng-if="PatientForm.NormalLibrary.$touched")
                                div(ng-message="required").md-input-message-animation A normal library is required
                        md-input-container(flex)
                            input(ng-model="patient.libraries.tumour", placeholder="Tumour Library", name="TumourLibrary", ng-required="!patient.tracking")
                            div(ng-messages="PatientForm.TumourLibrary.$error", ng-if="PatientForm.TumourLibrary.$touched")
                                div(ng-message="required").md-input-message-animation A tumour library is required
                        md-input-container(flex)
                            input(ng-model="patient.libraries.transcriptome", placeholder="Transcriptome Library", name="TranscriptomeLibrary", ng-required="!patient.tracking")
                            div(ng-messages="PatientForm.TranscriptomeLibrary.$error", ng-if="PatientForm.TranscriptomeLibrary.$touched")
                                div(ng-message="required").md-input-message-animation A transcriptome library is required

    md-dialog-actions(layout="row", layout-aligh="end center", layout-padding)
        md-button(ng-click="save(Patient)").md-raised.md-primary.medium Save Biopsy Analysis

