md-dialog(layout="column", aria-label="Edit Biopsy Analysis", flex-md=80, flex-xs=100, flex-lg=70, flex=70).editor
    md-toolbar
        .md-toolbar-tools
            h2 Edit Biopsy Analysis
            span(flex)
            md-button.md-icon-button(ng-click='cancel()')
                md-icon cancel
    md-dialog-content(layout-padding).alterationsForm
        div(label="Patient")
            form(name="PatientForm", ng-submit="submit()", novalidate)
                div(layout="column")

                    div(layout="row")
                        md-input-container(layout="row", flex)
                            input(disabled="disabled", ng-value="patient.pog.POGID", placeholder="Patient ID")

                    div(layout="row")
                        md-input-container(flex)
                            input(ng-model="patient.clinical_biopsy", name="ClinicalBiopsy", md-placeholder="clinspec number", required)
                            div(ng-messages="referenceForm.referenceID.$error")
                                div(ng-message="required") A reference id is required.
                            div.hint Biospecimen biopsy number

                        md-input-container(flex)
                            input(ng-model="patient.analysis_biopsy", placeholder="BioApps Biopsy/Analysis label", name="AnalyticalBiopsy", ng-required="!patient.tracking")

                    div(layout="row", flex)
                        md-autocomplete(
                        md-input-name="Disease",
                        md-selected-item="patient.disease",
                        md-search-text="diseaseQuery",
                        md-items="disease in searchDisease(diseaseQuery)",
                        md-item-text="disease.text",
                        md-floating-label="Disease",
                        md-autofocus=true,
                        md-autoselect=true,
                        md-require-match=false,
                        md-dropdown-position="bottom",
                        flex=60
                        )
                            md-item-template {{disease.text}}
                            div(ng-messages="Track.Disease", ng-if="form.Disease.$touched")
                                div(ng-message="required") A disease name must be selected

                        md-autocomplete(
                        md-input-name="CancerGroup",
                        md-selected-item="patient.threeLetterCode",
                        md-search-text="cancerGroupQuery",
                        md-items="group in searchGroups(cancerGroupQuery)",
                        md-item-text="group.code",
                        md-floating-label="Cancer Group (3 Letter Code)",
                        md-autofocus=true,
                        md-autoselect=true,
                        md-require-match=true,
                        md-select-on-match=true,
                        md-dropdown-position="bottom",
                        required,
                        flex=60
                        )
                            md-item-template {{group.code}}
                                div(ng-messages="PatientForm.CancerGroup.$error")
                                    div(ng-message="required") A cancer group must be selected


                    div(layout="row")
                        md-input-container(style="padding-right: 40px;")
                            label Biopsy Date
                            md-datepicker(ng-model="patient.biopsy_date")


                        md-input-container(flex)
                            input(ng-model="patient.biopsy_notes", name="BiopsyNotes", placeholder="Biopsy Notes")
                            div(ng-messages="referenceForm.RefSummary.$error")
                                div(ng-message="required") A reference summary is required.

                    div(layout="row")
                        md-input-container(flex)
                            textarea(ng-model="patient.notes", name="Notes", placeholder="Comments/Notes", rows=3, md-maxlength=500, flex)


                    div(layout="row")
                        md-input-container(flex, layout="row")
                            label Genomic Analysis Due
                            md-datepicker(ng-model="patient.date_analysis", flex)

                        md-input-container(flex, layout="row")
                            label Tumour Panel Presentation
                            md-datepicker(ng-model="patient.date_presentation", flex)

                        md-input-container(flex, layout="row")
                            label Onco-Panel Submitted
                            md-datepicker(ng-model="patient.onco_panel_submitted", flex)

                    div(layout="row")
                        div(flex=30) &nbsp;

                    div(layout="row")
                        md-input-container(flex)
                            input(ng-model="patient.libraries.normal", placeholder="Normal library", name="NormalLibrary", ng-required="!patient.tracking")
                        md-input-container(flex)
                            input(ng-model="patient.libraries.tumour", placeholder="Tumour library", name="TumourLibrary", ng-required="!patient.tracking")
                        md-input-container(flex)
                            input(ng-model="patient.libraries.transcriptome", placeholder="Transcriptome library", name="TranscriptomeLibrary", ng-required="!patient.tracking")


                    div(layout="column")

                        div(layout="row")
                            md-input-container(flex)
                                input(ng-model="patient.comparator_normal.tcga_comparator_biopsy_site", placeholder="TCGA Comparator Biopsy Site", name="TCGAComparatorBiopsySite", ng-required="patient.comparator")
                            md-input-container(flex)
                                input(ng-model="patient.comparator_normal.tcga_comparator_primary_site", placeholder="TCGA Comparator Primary Site", name="TCGAComparatorPrimarySite", ng-required="patient.comparator")

                        div(layout="row")
                            md-input-container(flex)
                                input(ng-model="patient.comparator_normal.gtex_comparator_biopsy_site", placeholder="GTex Comparator Biopsy Site", name="GTexComparatorBiopsySite", ng-required="patient.comparator")
                            md-input-container(flex)
                                input(ng-model="patient.comparator_normal.gtex_comparator_primary_site", placeholder="GTex Comparator Primary Site", name="GTexComparatorPrimarySite", ng-required="patient.comparator")

                        div(layout="row")
                            md-input-container(flex)
                                input(ng-model="patient.comparator_normal.normal_comparator_biopsy_site", placeholder="Normal Comparator Biopsy Site", name="NormalComparatorBiopsySite", ng-required="patient.comparator")
                            md-input-container(flex)
                                input(ng-model="patient.comparator_normal.normal_comparator_primary_site", placeholder="Normal Comparator Primary Site", name="NormalComparatorPrimarySite", ng-required="patient.comparator")

    md-dialog-actions(layout="row", layout-aligh="end center", layout-padding)
        md-button(ng-click="save(Patient)").md-raised.md-primary.medium Save Biopsy Analysis

