genomicsummary(
  pog="$ctrl.pog",
  report="$ctrl.report",
  genomic-alterations="$ctrl.genomicAlterations",
  variant-counts="$ctrl.variantCounts",
  mutation-summary="$ctrl.mutationSummary",
  probe-target="$ctrl.probeTarget",
  mutation-signature="$ctrl.mutationSignature",
  microbial="$ctrl.microbial",
  print="true"
)

therapeutic(
  pog="$ctrl.pog",
  report="$ctrl.report",
  therapeutic="$ctrl.therapeutic",
  print="true"
)

analyst(
  analyst-comments="$ctrl.analystComments",
  print="true"
)

pathway(
  pathway="$ctrl.pathway",
  print="true"
)