md-content(flex).layout-fill.report__container
  div(layout="row").pog-report
    div(flex, layout="column")
      report-toolbar(
        diagnosis="$ctrl.report.patientInformation.diagnosis",
        patient-id="$ctrl.report.patientId",
        type="'Genomic'",
        state="$ctrl.report.state"
      )

      div(flex, ui-view="").report__content

    div.report-menu__container
      div.reportMenu.report-menu__container--center
        div.report-menu__title Report Sections
        ul
          li
            span(
              ng-click="$ctrl.goToReportSection('summary')",
              ng-class="$ctrl.activeSection('summary') ? 'active' : ''",
              layout="row"
            ).clickable.inline
              span Summary
              md-icon(ng-click="$ctrl.openPrint()", aria-label="Print Summary Section") print

          li(ng-repeat="section in $ctrl.sections track by $index", ng-init="section.showChildren = false")

            span(
              ng-click="(section.children.length === 0) ? $ctrl.goToReportSection(section.state) : section.showChildren = !section.showChildren",
              ng-class="{active: $ctrl.activeSection(section.state), children: (section.children.length > 0)}",
              layout="row"
              ng-if="$ctrl.reportEdit || section.clinician"
            ).inline
              span {{section.name}}

            ul(ng-show="section.children.length > 0")
              li(ng-repeat="child in section.children", ng-click="$ctrl.goToReportSection(child.state)"
                ng-class="{active: $ctrl.activeSection(child.state), disabled: (child.disabled), clickable: (!child.disabled)}"
              )
                span {{child.name}}
