md-dialog(layout="column", aria-label="Knowledgebase References Filters", ng-cloak, flex=85).kbDialog
    form(flex='auto', name='form', ng-submit="update(form)")
        md-toolbar
            .md-toolbar-tools
                h2 Reference Filters
                span(flex)
                md-button.md-icon-button(ng-click='cancel()')
                    md-icon cancel
        md-dialog-content(layout-padding).filters
            div(layout="row") Multiple different types of selected filters will work in an "and" union together.

            div(layout="column")
                div(layout="row")
                    div(layout="column", flex) type (list:many)
                    div(layout="column", flex) relevance (list:many)
                    div(layout="column", flex) disease_list (list:many)
                div(layout="row")
                    div(layout="column", flex)
                        md-select(ng-model="filter.type", multiple)
                            md-option(ng-value="type", ng-repeat="type in vocabulary.type track by $index") {{type}}
                    div(layout="column", flex)
                        md-select(ng-model="filter.relevance", multiple)
                            md-option(ng-value="relevance", ng-repeat="relevance in vocabulary.relevance track by $index") {{relevance}}
                    div(layout="column", flex)
                        md-autocomplete(
                        md-selected-item="disease.selectedItem",
                        md-search-text="disease.searchText",
                        md-items="entry in disease.filter(disease.searchText)",
                        md-item-text="entry",
                        md-select-on-match="'true'",
                        placeholder="Disease Filter",
                        md-floating-label="Disease Filter"
                        )
                            span(md-highlight-text="disease.searchText") {{entry}}
                div(layout="row")
                    div(layout="column", flex) context (freeform:many)
                    div(layout="column", flex) evidence (freeform:many)
                    div(layout="column", flex) status (list:many)
                div(layout="row")
                    div(layout="column", flex) context (freeform:many)
                    div(layout="column", flex) evidence (freeform:many)
                    div(layout="column", flex)
                        md-select(ng-model="filter.status", multiple)
                            md-option(ng-value="status", ng-repeat="status in vocabulary.status track by $index") {{status}}
                div(layout="row")
                    div(layout="column", flex) events_expression (freeform:many)
                div(layout="row")
                    div(layout="column", flex) events_expression (freeform:many)


            div()
                pre None.

        md-dialog-actions(layout="row", layout-aligh="end center", layout-padding)
            md-button(type="submit").md-primary Close

